<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="menubarFragment" class="column is-one-fifth menu">
	<p class="menu-label">일반</p>
	<ul class="menu-list">
		<li><a>게시판1</a></li>
		<li><a>게시판2</a></li>
	</ul>
	
	<p class="menu-label">회원</p>
	<ul class="menu-list">
		<li><a>회원가입</a></li>
		<li><a>마이페이지</a></li>
	</ul>
	
	<p class="menu-label">
  	  Administration
  	</p>
	<ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
</aside>
